---
nodes:
{% for host in groups['kubernetes'] %}
  - address: {{ hostvars[host]['ansible_default_ipv4']['address'] }}
    user: k8s
    role:
{% if hostvars[host]['kubernetes_controlPlane'] == true %}
      - controlplane
      - etcd
{% endif %}
      - worker
    ssh_key_path: "../certificates/k8s_ed25519"
{% endfor %}

ignore_docker_version: false

enable_cri_dockerd: true

cluster_name: openspaceaarhus

kubernetes_version: v1.24.8-rancher1-1

authentication:
    strategy: x509
    sans:
      - "{{ vars['ha_address'] }}"
      - "k8s.osaa.dk"

# Use `mode: none` to disable authorization
authorization:
    mode: rbac
